[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ibapi = {path = "./../ibapi/IBJts/source/pythonclient/dist/ibapi-9.81.1-py3-none-any.whl"}
matplotlib = "*"
numpy = "*"
pylint = "*"
pytest = "*"
pandas = "*"
setuptools = "*"
h5py = "*"
lxml = "*"
jupyter = "*"
tqdm = "*"
pandas-market-calendars = "*"

[dev-packages]

[requires]
python_version = "3.9"
